.join_input_container {
    width: 30.5rem;
    height: 5rem;
   

    display: flex;
    
    margin: 0.3rem auto;
    padding-top:1rem;
    box-sizing: border-box;
    


}

.join_input_wrap {
    margin-top:0.5rem;
    display: flex;
    flex-direction: column;
}

.join_input_label {
    width:6rem;
    display: block;
    margin-left: 1.5rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.join_input {
    width:26rem;
    height: 1.7rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    padding-left:0.5rem;
    box-sizing: border-box;
}
.join_input_with_button{
    width:20rem;
    height: 1.7rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    padding-left:0.5rem;
    box-sizing: border-box;
}

.join_input_span {

    margin-top: 0.3rem;
    font-size: 0.9rem;
    margin-left: 1.5rem;
}

.join_input_pass {

    margin-top: 0.3rem;
    font-size: 0.9rem;
    margin-left: 1.5rem;
    color: green;
}

.check_unique {
    width: 5rem;
    height: 2rem;
    margin-top: 2rem;
    
}