@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.header {
    width: 100%;
    height: 10rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: text-top;
    border-bottom: 2px solid #efefef;

}

.header h1 {
    margin: 0;
    font-family: 'Poiret One', cursive;
    font-size: 3rem;
    cursor: pointer;

}

