<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/common/js/src/serializejson.js"></script>
    <script type="text/javascript" src="/common/js/src/common.js" ></script>
    <script>
        $(document).ready(function () {

        });

        function joinMember() {
            const memberRegisterRequest = $("#memberInfo").serializeJSON();
            const terms = $("#termsInfo").serializeJSON({useIntKeysAsArrayIndex:true});
            const merged = $.extend({memberRegisterRequest},terms);

            console.log(JSON.stringify(merged));

            $.ajaxSetup({

            });

            $.ajax({
                url: "/join.do",
                type: "post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(merged),
                success: function() {

                },
                error: function() {
                    alert("failed");
                }
            });
        }



    </script>


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="memberInfo">
    <input type="text" name="account" value="user912">
    <input type="text" name="password" value="passWord32@">
    <input type="text" name="email" value="abc@mail.net">
    <input type="text" name="name" value="아무개">
    <input type="text" name="birth" value="930128">
    <input type="text" name="phone" value="01012345678">
    <input type="text" name="address[city]" value="서울시">
    <input type="text" name="address[street]" value="역삼로">
    <input type="text" name="address[address_detail]" value="행복아파트 101호">
    <input type="text" name="address[zipcode]" value="12345">
</form>
<form id="termsInfo">
    <div>sms 동의
        <input type="hidden" name="terms[0][termsCode]" value="smsAgree">
        <div>
        <input type="radio" id="agreeYn_sms_y" name="terms[0][agreeYn]" value="y" checked>
        <label for="agreeYn_sms_y">네</label>
        </div>
        <div>
        <input type="radio" id="agreeYn_sms_n" name="terms[0][agreeYn]" value="n">
        <label for="agreeYn_sms_n">아니오</label>
        </div>
    </div>
    <div>email 동의
        <input type="hidden" name="terms[1][termsCode]" value="emailAgree">
        <div>
            <input type="radio" id="agreeYn_email_y" name="terms[1][agreeYn]" value="y">
            <label for="agreeYn_email_y">네</label>
        </div>
        <div>
            <input type="radio" id="agreeYn_email_n" name="terms[1][agreeYn]" value="n" checked>
            <label for="agreeYn_email_n">아니오</label>
        </div>
    </div>
</form>
<input type="button" id="" onclick="joinMember()" value="submit">
</body>
</html>