.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {

    position:absolute;
    top: 35vh;
    left: 25%;
    width: 1000px;
    height: 320px;
    padding: 0.5%;
    /* width: 50%;
    height: 25vh; */
    z-index: 20;
    background-color: white;
    border-radius: 20px;

    animation: slide-down 350ms ease-out forwards;
    

}

.close-btn {
    position: relative;
    top:-35vh;
    left: 96%;
    border:0;
    background-color: transparent;
    padding: 7px;
    
}

.close-btn:hover {
    cursor: pointer;
}

@media
only screen and (max-width:1370px) {
    .modal {
        display: none;

    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
